---
import Layout from "@/components/Layout.astro";
---

<Layout title="Markdown SEO Blog">
  <main class="container">
    <h1>Markdown SEO Blog</h1>
    <p>Initial project scaffold.</p>
  </main>
</Layout>
