---
import Layout from "@/components/Layout.astro";
---

<Layout title="Search" description="Search posts">
  <main class="container">
    <h1>Search</h1>
    <p>Search page scaffold.</p>
  </main>
</Layout>
