---
interface Props {
  title: string;
  description?: string;
}

const { title, description = "Markdown SEO Blog" } = Astro.props;
---

<title>{title}</title>
<meta name="description" content={description} />
